<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- FAVICON -->
<link href="/images/favicon.svg" rel="shortcut icon" />

<title>員工管理</title>

</head>

<body class="navbar-fixed sidebar-fixed" id="body">
	<div
		th:replace="~{headerAndLeftside.html(pageHtml='employeemanagement')}">
		<th:block th:fragment="contentTitle">
			<!-- 輸入頁面標題 -->員工管理
		</th:block>
		<th:block th:fragment="content">
			<!-- 輸入頁面內容 -->
			<div class="card card-default" id="page-views">
				<div class="card-header">
					<h2>所有員工</h2>
					<a th:href="@{/employee/create}" class="btn btn-primary btn-pill">新增員工</a>
				</div>
				<div class="card-body py-0" data-simplebar>
					<div th:if="${employees}">
						<table class="table table-borderless table-thead-border">
							<thead>
								<tr>
									<th class="text">員工ID</th>
									<th class="text">姓名</th>
									<th class="text">職位</th>
									<th class="text">部門</th>
									<th class="text">入職時間</th>
									<th class="text">狀態</th>
								</tr>
							</thead>
							<tbody>
									<!-- 使用 th:each 循環顯示每個員工 -->
								<tr th:each="employee : ${employees}">
									<td class="text" th:text="${employee.employeeId}">員工ID</td>
									<td class="text" th:text="${employee.employeeName}">姓名</td>
									<td class="text" th:text="${employee.department.departmentName}">部門</td>
									<td class="text" th:text="${employee.position.positionName}">職位</td>
									<td class="text" th:text="${employee.hireDate}">入職時間</td>
									<td class="text" th:text="${employee.status.statusName}">狀態</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="bg-white py-4"></div>
			</div>


		</th:block>
	</div>
</body>

</html>