<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>智庫</title>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
    <link href="plugins/material/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="plugins/simplebar/simplebar.css" rel="stylesheet" />

    <!-- PLUGINS CSS STYLE -->
    <link href="plugins/nprogress/nprogress.css" rel="stylesheet" />

    <link href="plugins/prism/prism.css" rel="stylesheet" />

    <!-- MONO CSS -->
    <link id="main-css-href" rel="stylesheet" href="css/style.css" />

    <!-- FAVICON -->
    <link href="/images/favicon.svg" rel="shortcut icon" />

    <script src="/plugins/nprogress/nprogress.js"></script>

</head>


<body class="navbar-fixed sidebar-fixed" id="body">
<div th:replace="~{headerAndLeftside.html(pageHtml='guideline')}">
<th:block th:fragment="contentTitle">
<!-- 輸入頁面標題 -->智庫
</th:block>
<th:block th:fragment="content">
<!-- 輸入頁面內容 -->
<table border="1">
				<thead>
					<tr>
						<th>ID</th>
						<th>標題</th>
					</tr>
				</thead>
				<tbody>
					<!-- 使用 th:each 循環顯示每個員工 -->
					<tr th:each="guideline : ${allGuideline}">
						<td th:text="${guideline.guideId}">ID</td>
						<td th:text="${guideline.guideTitle}">標題</td>
					</tr>
				</tbody>
			</table>
			
</th:block>


</div>
</body>

</html>